/*styling for index.html*/
a {
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: 25px;
color: purple;
}
#startQuiz {
    background-color: purple;
    padding: 8px 10px;
    font-size: 20px;
    color: white;
  }

  Ul {
    font-size: 25px;
  }

h1 {
    text-align: center;
    color: purple;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 20px;
  }
  
  #Submit {
    background-color: purple;
    margin-left: 30%;
    padding: 5px 20px;
    font-size: 20px;
    color: white;
  }

  button {
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    margin: auto;
  }
  

  input {
    margin-bottom: 20px;
    width: 15%;
    border: 3px solid purple;
  }
  
  li {
    background-color: purple;
    margin-top: 15px;
    padding: 10px 15px;
    width: 20%;
    font-size: 20px;
    color: white;
  }

  #questionsDiv {
    margin: 5px;
  }

  #createDiv {
    margin-top: 20px;
    border-top: 1px solid purple;
  }
  
  #currentTime {
    float: right;
    color: purple;
    font-size: 20px;
  }
  /*styling for highscore.html*/
  #goBack {
    background-color: purple;
    position: relative;
    padding: 10px;
    font-size: 20px;
    color: rgb(218, 236, 51);
    top: 50%;
    width: auto;
    text-align: center;
    text-decoration: none;
  }
  
  #clear {
    background-color: purple;
    position: relative;
    padding: 10px;
    font-size: 20px;
    color: rgb(218, 236, 51);
    top: 50%;
    margin-bottom: 25px;
    text-align: center;
  }
  
  
  /*@media screen and (max-width: 786px) {
    body {
      max-width: 786px;
    }
    #wrapper {
      position: absolute;
      left: 20%;
    }